body {
    background-color: #4cff497e!important;
}

#img_div {
    height: 400px;
    overflow: hidden;
}

#img_div img {
    height: 100%;
    width: auto; 
    display: block; 
    margin: 0 auto; 
}