body {
    background-color: #4cff497e!important;
}

#img_div {
    height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#img_div img {
    max-height: 100%;
    width: auto;
    display: block; 
    margin: 0 auto;
    padding: 10px;
}

#information_div, #img_div {
    padding: 5px;
}
